.hero {
  background-color: var(--bg-color2);
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img19.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
}

.hero__title {
  color: var(--white-color);
  @include font (44px, 900, 1.36, 0.06em);
  // letter-spacing: 0.06em;
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

/* Button-primary */

.button-primary {
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
}
