.header {
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
}

.header-contact-list {
  display: flex;
  margin-left: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

/* Logo */
.header-logo {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  margin-right: 93px;
}

.header-logo .accent {
  color: var(--accent-color);
}

/* header-nav */

.header-link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  position: relative;
  display: flex;
}

.header-link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  display: flex;
  width: 100%;
}

.heder-contact-item:not(:last-child) {
  margin-right: 30px;
}

.contact-icon {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-auth-nav:hover,
.header-auth-nav:focus {
  color: var(--accent-color);
}

.header-auth-nav:hover .contact-icon,
.header-auth-nav:focus .contact-icon {
  fill: var(--accent-color);
}

/*header-auth-nav */
.header-auth-nav {
  color: var(--secondery-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-auth-nav:hover,
.header-auth-nav:focus {
  color: var(--accent-color);
}
