.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
  width: 370px;
}

.card-list__item {
  margin-bottom: 30px;
}

.card-list__item:nth-child(n + 7) {
  margin-bottom: 0;
}

/* Project-title */
.projects {
  padding: 20px 24px;
  background-color: var(--white-color);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project__title {
  color: var(--primary-text-color);
  @include font(18px, 700, 2, 0.06em);
  margin-bottom: 4px;
}

/* Project-text */
.project__text {
  color: var(--secondery-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.card-list__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    box-shadow: var(--portfolio-shadow-link);
    .overlay {
      transform: translateY(0);
    }
  }
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  color: var(--white-color);
  @include font(18px, null, 1.5, 0.03em);
  // font-size: 18px;
  // line-height: 1.5;
  // letter-spacing: 0.03em;
  padding: 63px 24px;

  transform: translatey(101%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
