:root {
  --primary-text-color: #212121;
  --secondery-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --bg-color2: #2f303a;
  --bg-color1: #ffffff;
  --bg-color3: #f5f4fa;
  --rgba-color: rgba(255, 255, 255, 0.6);
  --btn-hover-color: #188ce8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
